<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.created_at %></td>
        <td><%= link_to 'Show', contract_invoice_path(@invoice.contract, invoice) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'form', invoice: @invoice %>
