<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<%= link_to 'Edit', edit_contract_invoice_path(@invoice.contract, @invoice) %> |
<%= link_to 'Back', contract_invoices_path %>
